<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Blog Category</h1>
</div>

<!-- Content Row -->
<div class="row">
  <div class="col-xl-4 col-lg-5">
    <b>Add New Category</b>
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Slug</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <table class="table table-borderless mb-0">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Slug</th>
            <th>Count</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>UnCategory</td>
            <td>--</td>
            <td>uncategory</td>
            <td>0</td>
            <td><i class="fa fa-pencil"></i>  <i class="fa fa-trash"></i> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>